In [1]:
import pandas as pd
import numpy as np
from keras import models
from keras import layers
import matplotlib.pyplot as plt
%matplotlib inline

Using TensorFlow backend.

In [0]:
import dask.dataframe as dd

# データ型確認用
# train_df = dd.read_csv('../input/data-science-bowl-2019/train.csv')
# train_df.head()

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
"""
データ読み込み
"""
def read_data():
    # file path
    # path = path = '../input/'
    path = '/content/drive/My Drive/MachineLeaning/'

    # data type
    train_df_dtype = {'event_id':'str','game_session':'str','timestamp':'str','event_data':'object','installation_id':'str','event_count':'int8','event_code':'int16','game_time':'int32','title':'str','type':'str','world':'str'}
    test_df = {'event_id':'str','game_session':'str','timestamp':'str','event_data':'object','installation_id':'str','event_count':'int8','event_code':'int16','game_time':'int32','title':'str','type':'str','world':'str'}
    train_labels_df = {'game_session': 'str','installation_id': 'str','title': 'str','num_correct': 'int8','num_incorrect': 'int8','accuracy': 'float16','accuracy_group':'int8'}
    
    parse_dates = ['timestamp']
    
    train_df = dd.read_csv(path + 'data-science-bowl-2019/train.csv', dtype=train_df_dtype, parse_dates=parse_dates)
    print('train read')
    test_df = dd.read_csv(path + 'data-science-bowl-2019/test.csv', dtype=test_df, parse_dates=parse_dates)
    print('test read')
    train_labels_df = dd.read_csv(path + 'data-science-bowl-2019/train_labels.csv', dtype=train_labels_df)
    print('train_labels read')
    # specs_df = dd.read_csv(path + 'data-science-bowl-2019/specs.csv')
    # print('specs read')
    # sample_submission_df = dd.read_csv(path + 'data-science-bowl-2019/sample_submission.csv')
    # print('sample_submission read')
    return train_df, test_df, train_labels_df

In [9]:
# data set
train_df, test_df, train_labels_df = read_data()

train read
test read
train_labels read

In [10]:
train_df.dtypes

event_id                        object
game_session                    object
timestamp          datetime64[ns, UTC]
event_data                      object
installation_id                 object
event_count                       int8
event_code                       int16
game_time                        int32
title                           object
type                            object
world                           object
dtype: object

In [11]:
train_labels_df.dtypes

game_session        object
installation_id     object
title               object
num_correct           int8
num_incorrect         int8
accuracy           float16
accuracy_group        int8
dtype: object

In [0]:
train_df['title'].head(5)

0          Welcome to Lost Lagoon!
1             Magma Peak - Level 1
2    Sandcastle Builder (Activity)
3    Sandcastle Builder (Activity)
4    Sandcastle Builder (Activity)
Name: title, dtype: object

In [0]:
# トレーニングデータの欠損値
train_df.isnull().sum().compute()

event_id           0
game_session       0
timestamp          0
event_data         0
installation_id    0
event_count        0
event_code         0
game_time          0
title              0
type               0
world              0
dtype: int64

In [0]:
#　トレーニングデータの統計量
train_df.describe().compute()

        event_count    event_code     game_time
count  1.134104e+07  1.134104e+07  1.134104e+07
mean   2.435737e+01  3.513838e+03  1.976236e+05
std    6.007551e+01  6.816470e+02  1.803968e+06
min   -1.280000e+02  2.000000e+03  0.000000e+00
25%    7.000000e+00  3.021000e+03  3.547150e+04
50%    3.200000e+01  4.020000e+03  8.484700e+04
75%    6.600000e+01  4.070000e+03  1.966220e+05
max    1.270000e+02  5.010000e+03  3.069102e+08

In [0]:
from keras.preprocessing.text import Tokenizer

token_title = Tokenizer()
token_title.fit_on_texts(train_df['title'])

In [13]:
token_title.document_count

11341042

In [18]:
train_df, token_title.texts_to_matrix(train_df['title'], 'binary')

(Dask DataFrame Structure:
                event_id game_session            timestamp event_data installation_id event_count event_code game_time   title    type   world
 npartitions=61
                  object       object  datetime64[ns, UTC]     object          object        int8      int16     int32  object  object  object
                     ...          ...                  ...        ...             ...         ...        ...       ...     ...     ...     ...
 ...                 ...          ...                  ...        ...             ...         ...        ...       ...     ...     ...     ...
                     ...          ...                  ...        ...             ...         ...        ...       ...     ...     ...     ...
                     ...          ...                  ...        ...             ...         ...        ...       ...     ...     ...     ...
 Dask Name: from-delayed, 183 tasks, array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]))

In [14]:

train_df.drop('title',axis=1)

train_df = dd.merge(train_df, token_title.texts_to_matrix(train_df['title'], 'binary'), left_index=True, right_index=True, how='outer')
train_df.head(5)

TypeError: ignored

In [0]:
token_type = Tokenizer()
token_type.fit_on_texts(train_df['type'])

In [0]:
token_type.document_count

11341042

In [0]:
matrix_type = token_type

In [0]:
#統計量
train_df.describe()

Dask DataFrame Structure:
              event_count event_code game_time
npartitions=1
                  float64    float64   float64
                      ...        ...       ...
Dask Name: describe-numeric, 1253 tasks

In [0]:
test_df.describe()

In [0]:
train_labels_df.describe()

In [0]:
#統計量
print(train_df.columns)
print(test_df.columns)
print(train_labels_df.columns)
print(specs_df.columns)
print(sample_submission_df.columns)

Index(['event_id', 'game_session', 'timestamp', 'event_data',
       'installation_id', 'event_count', 'event_code', 'game_time', 'title',
       'type', 'world'],
      dtype='object')
Index(['event_id', 'game_session', 'timestamp', 'event_data',
       'installation_id', 'event_count', 'event_code', 'game_time', 'title',
       'type', 'world'],
      dtype='object')
Index(['game_session', 'installation_id', 'title', 'num_correct',
       'num_incorrect', 'accuracy', 'accuracy_group'],
      dtype='object')
Index(['event_id', 'info', 'args'], dtype='object')
Index(['installation_id', 'accuracy_group'], dtype='object')

In [0]:
#統計量
train_df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [0]:
test_df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,0ea9ecc81a565215,2019-09-10T16:50:24.910Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,c1ea43d8b8261d27,2019-09-10T16:50:55.503Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,27253bdc,7ed86c6b72e725e2,2019-09-10T16:51:51.805Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 2,Clip,MAGMAPEAK
3,27253bdc,7e516ace50e7fe67,2019-09-10T16:53:12.825Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Crystal Caves - Level 1,Clip,CRYSTALCAVES
4,7d093bf9,a022c3f60ba547e7,2019-09-10T16:54:12.115Z,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",00abaee7,1,2000,0,Chow Time,Game,CRYSTALCAVES

In [0]:
train_labels_df.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [0]:
specs_df.head()

,event_id,info,args
0,2b9272f4,The end of system-initiated feedback (Correct)...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
1,df4fe8b6,The end of system-initiated feedback (Incorrec...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
2,3babcb9b,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
3,7f0836bf,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
4,ab3136ba,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."

In [0]:
sample_submission_df.head()

  installation_id  accuracy_group
0        00abaee7               3
1        01242218               3
2        017c5718               3
3        01a44906               3
4        01bc6cb6               3

In [0]:
def kesson_table(df):
    null_val = df.isnull().sum()#DataFrameの中の欠損値（NaN）の個数を確認（インデックス毎に）
    percent = 100 * df.isnull().sum()/len(df)
    kesson_table = pd.concat([null_val, percent], axis=1)#pd.concat([df1, df2], axis=1):DataFrameを横に連結（標準はaxis=0で縦）
    kesson_table_ren_columns = kesson_table.rename(columns = {0: "欠損数", 1: "%"})#df.rename(columns={"A": "a"}, index={"あ", "ア"})
    return kesson_table_ren_columns

In [0]:
from keras.preprocessing.text import Tokenizer

# インスタンス化
tokenizer = Tokenizer()
tokenizer.fit_on_texts(texts)